{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> {{ title }}! </h1>

    <img src="https://img.freepik.com/vecteurs-libre/modele-tableau-bord-elements-statistiques_52683-24173.jpg?t=st=1711636958~exp=1711640558~hmac=8dffe85c25842babbe297e6c7807eb8261bb89df5e8a6fdc2518b15753e7a36c&w=900" class="" alt="Description de l'image" />

</div>
{% endblock %}
